#main{
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
  text-align: center;
}
#title{
  font-weight: 400;
  font-size: 3.0em;
}
#image{
  max-width: 90%;
  margin: auto;
  display: block;
}
.info{
  padding: 5%;
}
a{
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}
